* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: oklch(80% 0.00009 271.152);
    color: oklch(20% 0.00002 271.152);
}

/* Header */
header {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
}

/* Box for Control buttons */
.controls {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

/* Control buttons */
.controls button {
    width: 120px;
    height: 40px;
    padding: 5px 10px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid oklch(80% 0.00009 271.152);
    border-radius: 5px;
    background-color: oklch(70% 0.00008 271.152);
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.controls button:hover {
    background-color: oklch(90% 0.00009 271.152);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Main content with the grid */
.content {
    display: flex;
    justify-content: center;
}

.grid-container {
    --squares-per-side: 16; /* Default value */
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: 640px;
    height: 640px;
    border: 1px solid oklch(70% 0.00008 271.152);
}

.grid-square {
    display: flex;
    flex: 0 0 calc(100% / var(--squares-per-side));
    aspect-ratio: 1 / 1;
    /* width: 40px; */
    /* height: 40px; */
    box-sizing: border-box;
    /* border: 0.25px solid #686868; */
    background-color: white;
    color: black;
}